.container--schedule {
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

@media (max-width: 1159px) {
  .container--schedule {
    padding-top: 63px;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .container--schedule {
    padding: 63px 15px 0;
    margin-bottom: 0px;
  }
}

.schedule__title {
  margin-bottom: 33px;
}

@media (max-width: 1159px) {
  .schedule__title {
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .schedule__title {
    align-self: flex-start;
    margin-bottom: 14px;
  }
}

.schedule__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 36px;
}

@media (max-width: 1159px) {
  .schedule__table {
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .schedule__table {
    display: none;
  }
}

.schedule__cell-head {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 52px;
}

@media (max-width: 1159px) {
  .schedule__cell-head {
    font-size: 14px;
  }
}

.schedule__cell {
  padding: 15px;
  font-family: PTSans, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
  border: 2px solid #000;
}

.schedule__cell:nth-of-type(6) {
  text-align: center;
}

@media (max-width: 1159px) {
  .schedule__cell {
    padding: 15px 10px;
    font-size: 14px;
  }
  .schedule__cell:nth-of-type(2) {
    padding: 15px 12px;
  }
  .schedule__cell:nth-of-type(5) {
    padding: 15px;
  }
}

.schedule__link-rider {
  text-decoration: none;
}

.schedule__cell-link-join {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #74e196;
}

.schedule__btn-join {
  display: none;
}

@media (max-width: 767px) {
  .schedule__btn-join {
    display: flex;
    margin-bottom: 16px;
    color: #000;
    border-color: #74e196;
  }
}

.schedule__form {
  display: none;
}

@media (max-width: 767px) {
  .schedule__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 53px;
    font-family: PTSans, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 22px;
  }
}

.schedule__title-select {
  margin-bottom: -3px;
}

.schedule__select {
  padding-left: 10px;
  font-family: PTSans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 22px;
  border: 1px solid #000;
  border-radius: 0;
  -webkit-appearance: none;
  color: rgba(0, 0, 0, 0.6);
}

.course {
  display: flex;
  padding: 58px 47px;
  border: 2px solid #000;
}

@media (max-width: 767px) {
  .course {
    flex-direction: column;
    padding-right: 48px;
    border: 1px solid #000;
  }
}

.course__rider-photo {
  position: relative;
  margin: 0;
}

.course__rider-img {
  width: 204px;
  height: 204px;
  border: 3px solid #a0dcb4;
  border-radius: 50%;
}

@media (max-width: 1159px) {
  .course__rider-img {
    width: 144px;
    height: 144px;
  }
}

@media (max-width: 767px) {
  .course__rider-img {
    width: 91px;
    height: 91px;
  }
}

.course__img-caption {
  position: absolute;
  bottom: 0px;
  padding: 0 10px;
  min-width: 200px;
  min-height: 48px;
  text-align: center;
  color: #fff;
  background-color: #000;
}
/*# sourceMappingURL=common.css.map */