
@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/subset-FuturaPT-Book.woff') format('woff'),
       url('../fonts/subset-FuturaPT-Book.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/subset-FuturaPT-Medium.woff') format('woff'),
       url('../fonts/subset-FuturaPT-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/subset-FuturaPT-Demi.woff') format('woff'),
       url('../fonts/subset-FuturaPT-Demi.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'FuturaPT';
  src:  url('../fonts/subset-FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/subset-FuturaPT-Heavy.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/subset-FuturaPT-ExtraBold.woff') format('woff'),
       url('../fonts/subset-FuturaPT-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/subset-PTSans-Regular.woff') format('woff'),
       url('../fonts/subset-PTSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: FuturaPT, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-family: PTSans, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.title-h2 {
  margin: 0 0 40px;
  padding: 0;
  font-size: 40px;
  /* line-height: 35px; */
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.promo {
  background: url(../img/bg_indexpromo.jpg) center no-repeat;
  height: 645px;
}

.promo__title {
  width: 470px;
  padding: 100px 0 0;
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
}

.promo__title-normal {
  display: block;
  margin-top: 30px;
  font-size: 38px;
  line-height: 40px;
  font-weight: 600;
  color: #fff;
}

.container--header {
  padding: 37px 0;
}

.container:after {
  content: "";
  display: block;
  clear: both;
} 

.logo {
  float: left;
  padding: 0;
  margin-right: 20px;
  width: 160px;
  height: 55px;
}

.main-menu {
  margin-top: 20px;
  float: left;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-menu__list {
  margin: 0;
  padding: 0;
}

.main-menu__item {
  display: inline-block;
  margin: 0 20px;
}

.phone {
  float: left;
  margin-top: 18px;
  margin-left: 25px;
}

.btn {
  width: 135px;
  height: 46px;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #74e196;
  text-transform: uppercase;
  border: 2px solid #000;
  box-sizing: border-box;
}

.btn--join {
  display: inline-block;
  float: right;
  margin-top: 6px;
}

.btn--join:hover {
  color: #fff;
  background: #74e196;
}

.btn--join:active {
  color: #74e196;
  background: #fff;
}

.services {
  color: #000;
}

.services__desc {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
}

.services__item {
  float: left;
  margin: 40px 40px 0 0;
  height: 245px;
  width: 360px;
} 

.services__item:nth-child(3n+5) {
  margin-right: 0;
}

.services__links {
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  opacity: .9;
}

.services__links:after {
  content: "";
  display: block;
  clear: both;
} 

.services__span {
  float: left;
}

.services__more {
  float: right;
  width: 37px;
  height: 27px;
  font-size: 0;
  background:url(../img/sprite.png) -597px -5px;
}

.advantages {
  font-size: 0;
}

.advantages__title {
  margin-top: 74px;
}

.advantages__item {
  display: inline-block;
  width: 31%;
  margin: 0 40px 40px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.advantages__item-title {
    text-align: center;
}

.advantages__item:nth-child(3n+4) {
  margin-right: 0;
}

.advantages__item--warranty:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 61px;
  background: url(../img/sprite.png) -234px -5px;
}

.advantages__item--skills:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 53px;
  height: 61px;
  background: url(../img/sprite.png) -372px -5px;
}

.advantages__item--individual:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 58px;
  height: 61px;
  background: url(../img/sprite.png) -304px -5px;
}

.advantages__item--equipment:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 61px;
  height: 75px;
  background: url(../img/sprite.png) -163px -5px;
}

.advantages__item--safety:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 58px;
  height: 71px;
  background: url(../img/sprite.png) -5px -5px;
}

.advantages__item--transfer:before {
  content: "";
  display: block;
  margin: 0 auto;
  background: url(../img/sprite.png) -73px -5px;
  width: 80px;
  height: 55px;
}

.offers {
  color: #fff;
  background: url(../img/bg_offers.jpg) top no-repeat;
  height: 362px;
  font-size: 0;
}

.offers__title {
  padding-top: 44px;
  margin-bottom: 40px 0 0;
}

.offers__item {
  text-align: center;
  display: inline-block;
  width: 220px;
  margin-right: 145px;
  vertical-align: top;
}

.offers__item:nth-child(2) {
  margin-left: 105px;
}

.offers__item:nth-child(4) {
  margin-right: 105px;
}

.offers__item-title {
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: 500;
}

.offers__item-info {
  margin: 0;
  padding: 0;
  font-family: FuturaPT, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

.offers__item-span {
  color: #83eba5;
}

.offers__btn {
  display: block;
  margin: 45px auto 0;
  border: 2px solid #fff;
}

.offers__btn:hover {
  color: #fff;
  background: #74e196;
}

.offers__btn:active {
  color: #74e196;
  background: transparent;
}

/* дальше буду править */

footer .main-menu {
  opacity: .8;
}

.phone,
.connect__mail {
  font-size: 22px;
  font-weight: 700;
}

.copyright {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
}

.btn_select {
  font-size: 15px;
  line-height: 70px;
  font-weight: 700;
  color: #74e196;
  text-transform: uppercase;
}

.likes-btn {
  font-size: 20px;
  line-height: 70px;
  font-weight: 500;
}

.likes-btn:before {
  content: "";
  display: block;
  width: 15px;
  height: 26px;
  background: url(../img/sprite.png) -771px -5px;
}

.team_info {
  background: url(../img/bg_team.jpg) 50% 50% no-repeat;
  width: 954px;
  height: 666px;
}

footer {
  background: url(../img/bg_footer.jpg) 50% 50% no-repeat;
}

.list_item {
  display: inline-block;

}

.list_item:hover {
  border-bottom: 3px solid #74e196;
}

.link-active {
  border-bottom: 3px solid #74e196;
}

.gallery .list_item {
  padding-right: 16px;
}

.social-links .list_item {
  background-image: url(../img/sprite.png);
  height: 40px;
}

.youtube {
  background-position: -555px -5px;
  width: 32px;
}

.instagram {
  background-position: -463px -5px;
  width: 32px;
}

.fb {
  background-position: -435px -5px;
  width: 18px;
}

.vk {
  background-position: -505px -5px;
  width: 40px;
}

.sport:after {
  content: "";
  display: block;
  width: 31px;
  height: 71px;
  background:url(../img/sprite.png) -644px -5px;
}