
@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/subset-FuturaPT-Book.woff') format('woff'),
       url('../fonts/subset-FuturaPT-Book.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/subset-FuturaPT-Medium.woff') format('woff'),
       url('../fonts/subset-FuturaPT-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/subset-FuturaPT-Demi.woff') format('woff'),
       url('../fonts/subset-FuturaPT-Demi.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'FuturaPT';
  src:  url('../fonts/subset-FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/subset-FuturaPT-Heavy.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/subset-FuturaPT-ExtraBold.woff') format('woff'),
       url('../fonts/subset-FuturaPT-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/subset-PTSans-Regular.woff') format('woff'),
       url('../fonts/subset-PTSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: FuturaPT, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
  padding: 0;
  font-family: PTSans, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
}

input {
  border: none;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1160px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.title-usually {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
}

.title-normal {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}

.btn {
  /* width: 135px;
  height: 46px; */
  padding: 13.5px 19px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #74e196;
  text-transform: uppercase;
  border: 2px solid #000;
  box-sizing: border-box;
  transition: ease 200ms all;
}

.btn:hover {
  color: #fff;
  background: #74e196;
}

.btn:active {
  color: #74e196;
  background: #fff;
}

@media (max-width: 1159px) {

  .container {
    padding: 0 15px;
  }

  .title-usually {
    font-size: 24px;
  }
}

@media (max-width: 767px) {

  .container {
    padding: 0;
  }
}

/* instructors - <main> + all pages - <header>, <footer> */

.promo {
  min-width: 320px;
  background: url(../img/bg_indexpromo.jpg) no-repeat;
  background-color: #000;
  background-position: right;
  background-size: cover;
  min-height: 645px;
}

.promo__title {
  max-width: 470px;
  padding-top: 100px;
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: #fff;
}

.promo__title-main {
  display: block;
  margin-top: 30px;
  font-size: 38px;
  line-height: 40px;
  font-weight: 600;
  color: #fff;
}

@media (max-width: 1159px) {
  
  .promo {
    position: relative;
    min-height: 421px;
  }

  .promo__title {
    max-width: 222px;
    padding-top: 120px;
    padding-left: 75px;
    font-size: 24px;
    line-height: 24px;
  }

  .promo__title-main {
    margin-top: 5px;
    font-size: 20px;
    color: #fff;
  }
}

@media (max-width: 767px) {
  
  .promo {
    z-index: 1;
    min-height: 480px;
    background-position: right 18px;
  }
  .promo__title {
    padding-top: 130px;
    padding-left: 15px;
    font-size: 24px;
    line-height: 24px;
  }

  .promo__title-main {
    margin-top: -5px;
    font-size: 18px;
    color: #fff;
  }
}

.container--header {
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

.logo,
.logo__img,
.logo__link {
  display: flex;
}

.main-menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.main-menu__item {
  display: flex;
  margin-right: 45px;
}

.main-menu__item:last-child {
  margin: 0;
}

.main-menu__link {
  padding: 16px 0 10px;
  border-bottom: 3px solid transparent;
  transition: linear 100ms all;
}

.main-menu__link:hover {
  border-bottom-color: #74e196;
}

.main-menu__link--active {
  border-bottom-color: #74e196;
}

.socials--header {
  display: none;
}

.connect {
  display: flex;
}

.connect__phone {
  font-size: 22px;
  font-weight: 700;
}

.connect__mail--header {
  display: none;
}

@media (max-width: 1159px) {

  .container--header {
    position: absolute;
    top: 0;
    padding: 15px;
  }

  .logo {
    filter: invert(100%);
  }

  .main-menu {
    width: 34px;
    height: 22px;
    background: url(/../../img/menu-burger_768.png) right no-repeat;
  }

  /* .main-menu:hover {
    display: block;
    font-size: inherit;
    background: transparent;
    transition-duration: 100ms;
  } */

  .main-menu__list {
    display: none;
    flex-direction: column;
  }

  .main-menu__link {
    color: #fff;
  }

  .connect {
    display: none;
   } 

  .btn--join {
    display: none;
  }
}

@media (max-width: 767px) {

.container--header {
    flex-direction: column;
    z-index: 2;
    min-height: 480px;
    padding: 70px 0 33px;
    background-color: #fff;
  }

  .logo--header {
    position: absolute;
    /* z-index: 3; */
    top: 15px;
    left: 15px;
    filter: none;
  }

  .main-menu {
    width: 100%;
    height: auto;
  }

  .main-menu__list {
    display: flex;
    flex-direction: column;
  }

  .main-menu__item {
    margin: 0;
  }
  
  .main-menu__link {
    width: 100%;
    padding: 8.5px 0;
    color: #000;
    text-align: center;
    border-bottom: 1px solid #74e196;
  }

  .connect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .connect__mail--header {
    display: flex;
  }

  .socials--header {
    display: flex;
  }

  .socials__list {
    padding: 0;
    margin: 0;
  }

  .btn--join {
    display: flex;
    justify-content: center;
  }
}

.container--services {
  flex-direction: column;
}

.services__title {
  margin-bottom: 40px;
}

.services__desc {
  font-family: FuturaPT, Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
}

.services__item {
  justify-content: space-between;
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} 

.services__item--vertical {
  width: 360px;
  min-height: 530px;
}

.services__item--horizontal {
  align-content: space-between;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 760px;
  height: 245px;
} 

.services__img {
  display: flex;
}

.services__info-desc {
  padding-right: 10px;
  max-width: 360px;
  box-sizing: border-box;
}

.services__links {
  opacity: .9;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}

.services__more {
  font-size: 0;
  width: 37px;
  height: 27px;
  background: url(../img/sprite.png) -597px -5px;
}

@media (max-width: 1159px) {

  .services__title {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .services__desc {
    margin-bottom: 17px;
  }

  .services__inner {
    margin: 0 auto;
  }

  .services__item {
    position: relative;
    width: 364px;
    min-height: 517px;
    margin: 0;
  }

  .services__item:nth-child(1) {
    margin-right: 10px;
  }

  .services__item:nth-child(3) {
    display: none;
  }

  .services__info-desc {
    padding-right: 20px;
    min-height: 132px;
  }
}

@media (max-width: 767px) {

  .services__title {
    margin-top: 2px;
    margin-bottom: 0;
  }

  .services__desc {
    margin-bottom: 5px;
    font-size: 10px;
  }

  .services__inner {
    max-width: 320px;
  }
  .services__item {
    min-height: 82px;
  }

  .services__item:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0) 58%);
    opacity: .7;
  }

  .services__item--vertical {
    max-width: 165px;
    max-height: 165px;
  }

  .services__item--horizontal {
    max-width: 154px;
    max-height: 82px;
  }

  .services__item:nth-child(1) {
    margin-right: 1px;
  }

  .services__item:nth-child(3) {
    display: flex;
    margin-top: 1px;
  }

  .services__info-title {
    position: absolute;
    z-index: 1;
    bottom: 16px;
    left: 5px;
    font-size: 14px;
    color: #fff;
  }
  
  .services__img {
    max-width: 100%;
    height: auto;
  }

  .services__item--vertical .services__img {
    height: 165px;
  }

  .services__item--horizontal .services__img {
    height: 82px;
  }

  .services__info-desc {
    display: none;
  }
  
  .services__links {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 10px;
  }

  .services__span {
    display: none;
  }

  .services__more {
    width: 19px;
    height: 14px;
    background-position: -911px -5px;
  }
}

.container--advantages {
  flex-direction: column;
}

.advantages__title {
  margin-top: 34px;
}

.advantages__inner {
  display: flex;
  margin-bottom: 70px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.advantages__item {
  margin-top: 50px;
  width: 31%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  box-sizing: border-box;
}

article[class*="advantages__item"]:before {
  content: "";
  display: inline-block;
  margin: 0 auto;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.advantages__item--warranty:before {
  width: 60px;
  height: 61px;
  background-position: -234px -5px;
}

.advantages__item--skills:before {
  width: 53px;
  height: 61px;
  background-position: -372px -5px;
}

.advantages__item--individual:before {
  width: 58px;
  height: 61px;
  background-position: -304px -5px;
}

.advantages__item--equipment:before {
  width: 61px;
  height: 75px;
  background-position: -163px -5px;
}

.advantages__item--safety:before {
  width: 58px;
  height: 75px;
  background-position: -5px -5px;
}

.advantages__item--transfer:before {
  width: 80px;
  height: 75px;
  background-position: -73px -5px;
}

.advantages__item-title {
  padding: 0 75px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.advantages__item--skills .advantages__item-title {
  padding: 0 120px;
}

.advantages__item-info {
  text-align: left;
  padding-right: 30px;
}

@media (max-width: 1159px) {

  .advantages__title {
    margin-top: 55px;
  }

  .advantages__inner {
    margin-bottom: 50px;
  }

  .advantages__item {
    margin-top: 25px;
    width: 28%;
  }
  
  .advantages__item-title {
    padding: 0 30px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 14px;
  }

  .advantages__item--skills .advantages__item-title {
    padding: 0 60px;
  }

  .advantages__item-info {
    padding-right: 0px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 767px) {

  .advantages__title {
    margin-top: 5px;
  }

  .advantages__inner {
    margin-bottom: 14px;
    flex-direction: column;
  }

  .advantages__item {
    margin-top: 25px;
    width: 100%;
    padding-right: 17px;
  }
  
  article[class~="advantages__item"]:before {
    width: 47px;
    height: 88px;
    float: left;
    margin: 0 20px 0 25px;
  }
    .advantages__item--warranty:before {
    background-position: -940px -5px;
  }

  .advantages__item--skills:before {
    background-position: -997px -5px;
  }

  .advantages__item--individual:before {
    background-position: -1054px -5px;
  }

  .advantages__item--equipment:before {
    background-position: -1109px -5px;
  }

  .advantages__item--safety:before {
    background-position: -1166px -5px;
  }

  .advantages__item--transfer:before {
    background-position: -1221px -5px;
  }

  .advantages__item-title {
    text-align-last: left;
    text-align: left;
    padding: 0;
    margin: 0 0 7px;
  }

  .advantages__item--skills .advantages__item-title {
    padding: 0;
  }

  .advantages__item-info {
    padding-right: 0px;
    opacity: .8;
  }
}

.offers {
  position: relative;
  min-width: 320px;
  color: #fff;
  background: url(../img/bg_offers.jpg) no-repeat;
  background-size: 105%;
  background-position: 100% 26%;
}

.offers:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  border: 3px solid #fff;
  opacity: 0.5;
  box-sizing: border-box;
}

.container--offers {
  position: relative;
  z-index: 1;
  flex-direction: column;
  padding-bottom: 34px;
}

.offers__title {
  margin: 45px 0 40px;
}

.offers__inner {
  display: flex;
  justify-content: space-around;
  padding-bottom: 46px;
}

.offers__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 17%;
}

.offers__item-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
}

.offers__item-info {
  font-family: FuturaPT, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

.offers__item-span {
  color: #83eba5;
}

.offers__join-btn {
  margin: 0 auto;
  border: 2px solid #fff;
}

.offers__join-btn:hover {
  color: #fff;
  background: #74e196;
}

.offers__join-btn:active {
  color: #74e196;
  background: transparent;
}

@media (max-width: 1159px) {

  .offers {
    background-size: 165%;
    background-position: 50% 26%;
  }

  .offers__title {
    margin: 30px 0 50px;
  }

  .offers__inner {
    justify-content: space-between;
  }

  .offers__item {
    width: 27%;
  }
}

@media (max-width: 767px) {

  .offers {
    background-size: 400%;
    background-position: 0% 26%;
  }

  .container--offers {
    min-height: 362px;
  }

  .offers__title {
    margin: 6px 0 75px;
  }

  .offers__inner {
    justify-content: center;
    padding-bottom: 0;
  }

  .offers__item {
    width: 62%;
  }

  .offers__item:nth-child(2),
  .offers__item:nth-child(3) {
    display: none;
  }

  .offers__join-btn {
    display: none;
  }
}

.team__info {
  display: flex;
  width: 100%;
  min-height: 760px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(to top, #fff 0%, transparent 60%), url(../img/bg_team.jpg) no-repeat;
  background-position: 50% 85%;
}

.team__desc {
  position: absolute;
  bottom: 100px;
  max-width: 756px;
  text-align: center;
}

@media (max-width: 1159px) {

  .container--team {
    padding: 0;
  }

  .team__info {
    min-height: 710px;
    margin-top: 40px;
    background-position: 48% 75%;
  }

  .team__desc {
    bottom: 110px;
    max-width: 590px;
  }
}

@media (max-width: 767px) {

  .container--team {
    padding: 0;
  }

  .team__info {
    min-height: 423px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 13px;
    background: linear-gradient(to bottom, transparent 11%, rgba(255, 255, 255, 1) 95%), url(../img/bg_team.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .team__desc {
    display: none;
  }
}

.community__info {
  margin: 93px 215px 53px;
  text-align: center;
}

.community__desc {
  margin-top: 45px;
}

.container--community-gallery {
  flex-direction: column;
  margin: 110px auto 86px;
}

.community-gallery__title {
  margin-bottom: 50px;
}

.community-gallery__list,
.community-gallery__item {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.community-gallery__link {
  display: flex;
}

@media (max-width: 1159px) {

  .community__info {
    margin: 57px 110px 40px;
  }

  .community__desc {
    margin-top: 34px;
  }

  .container--community-gallery {
    margin: 37px auto 0px;
    padding: 0;
  }

  .community-gallery__title {
    margin-bottom: 37px;
  }

  .community-gallery__list {
    flex-wrap: wrap;
  }

  .community-gallery__item {
    width: 33.3%;
  }

  .community-gallery__link {
    width: 100%;
    height: auto;
  }

  .community-gallery__img {
    width: 100%; 
    height: 100%;
  }
}

@media (max-width: 767px) {

  .community__info {
    margin: 34px 22px 23px;
  }

  .community__desc {
    margin-top: 14px;
    font-size: 12px;
    line-height: 12px;
    opacity: .8;
  }

  .container--community-gallery {
    margin: 9px auto 0px;
    padding: 0;
  }

  .community-gallery__title {
    margin-bottom: 23px;
  }

  .community-gallery__item {
    display: none;
  }

  .community-gallery__item:first-child {
    display: flex;
    width: 100%;
  }
}

.footer {
  position: relative;
  min-width: 320px;
  background: url(../img/bg_footer.jpg);
  background-position: 0% 52%;
  background-size: cover;
}

.footer:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  border: 2px solid #fff;
  opacity: 0.2;
  box-sizing: border-box;
}

.container--footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-top: 58px;
  padding-bottom: 102px;
}

.logo--footer {
  max-width: 165px;
  max-height: 55px;
}

.footer__inner {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.socials__list {
  display: flex;
  padding: 0;
}

.socials__item {
  display: flex;
  align-self: center;
  margin-right: 45px;
  transition: ease 100ms all;
}

.socials__item:last-child {
  margin: 0;
}

.socials__item:hover {
  opacity: .9;
}

.socials__link {
  width: 32px;
  height: 33px;
  background-image: url(../img/sprite.png);
}

.socials__link--youtube {
  background-position: -555px -5px;
}

.socials__link--instagram {
  background-position: -463px -5px;
}

.socials__link--fb {
  width: 20px;
  background-position: -435px -5px;
}

.socials__link--vk {
  width: 40px;
  height: 26px;
  background-position: -505px -5px;
}

.connect--footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.connect__mail {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 700;
}

.copyright__content {
  max-width: 305px;
  font-family: FuturaPT, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
}

.main-menu__link--footer {
  opacity: .8;
  border: 1px solid transparent;
}

.main-menu__link--footer:hover {
  opacity: inherit;
  border: 1px solid transparent;
}

.main-menu__link--footer:active {
  opacity: .8;
}

@media (max-width: 1159px) {

  .footer {
    background-position: 0% 20%;
  }

  .footer:after {
    border: 1px solid #fff;
  }
  .container--footer {
    padding-top: 28px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
  }

  .logo--footer {
    filter: none;
  }

  .footer__inner {
    margin-top: 28px;
    display: flex;
    justify-content: center;
  }

  .socials--footer {
    margin: 50px 0;
  }

  .socials__list {
    margin: 0;
    padding: 0;
  }

  .socials__item {
    margin-right: 22px;
  }

  .socials__link {
    width: 20px;
    height: 20px;
  }

  .socials__link--youtube {
    background-position: -766px -1px;
  }

  .socials__link--instagram {
    background-position: -807px -1px;
  }

  .socials__link--fb {
    background-position: -849px 0px;
    width: 10px;
    height: 21px;
  }

  .socials__link--vk {
    background-position: -881px -5px;
    width: 25px;
    height: 15px;
  }

  .connect--footer {
    align-items: center;
  }

  .copyright__content {
    max-width: 290px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }

  .main-menu--footer {
    display: none;
  }
}

@media (max-width: 767px) {

  .footer {
    background-position: 60% 20%;
  }
}

/* instructors - <main> */

.container--instructors-top {
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.instructors__title {
  margin-bottom: 56px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  min-width: 640px;
  height: 48px;
  margin-bottom: 61px;
  border: 2px solid #000;
}

.search-place {
  flex-grow: 1;
  color: #777;
  padding-left: 15px;
}

.search-btn {
  display: flex;
  padding: 0;
  padding-left: 15px;
  border: none;
  background-color: transparent;
}

.search-btn:after {
  content: "";
  display: flex;
  align-self: center;
  padding-right: 11px;
  width: 27px;
  height: 27px;
  background: url(../img/sprite.png) -1277px -5px;
}

.gallery {
  display: flex;
}

.gallery__link {
  line-height: 0;
}

.gallery__pic {
  margin: 0;
  position: relative;
}

.gallery__pic:before {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6de793;
}

.gallery__pic:active:before {
  display: block;
}

.gallery__img {
  filter: brightness(70%);
  transition: ease 300ms all;
}

.gallery__pic:hover .gallery__img {
  filter: none;
}

.gallery__pic:active .gallery__img {
  filter: brightness(70%);
  opacity: .6;
}

.gallery__pic:hover .gallery__img-caption,
.gallery__pic:active .gallery__img-caption {
  opacity: 0;
}

.gallery__img-caption {
  position: absolute;
  max-width: 100px;
  bottom: 20px;
  left: 18px;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #fff;
  transition: ease 200ms opacity;
}

.container--rider {
  flex-direction: column;
  padding: 0 60px;
}

.rider__spec {
  display: flex;
  margin-bottom: 30px;
}

.rider__desc {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  margin-left: 68px;
}

.rider__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.rider__name {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}

.rider__info {
  display: flex;
  min-width: 700px;
  justify-content: space-between;
}

.rider__sport:after {
  content: "";
  display: block;
  width: 31px;
  height: 71px;
  margin: 0 auto;
  background: url(../img/sprite.png) -644px -5px;
}

.rider__style {
  display: flex;
  flex-direction: column;
}

.rider__sport-title,
.rider__experience-title,
.rider__style-title,
.rider__education-title {
  font-family: FuturaPT, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 13px;
}

.rider__experience-desc,
.rider__style-link,
.rider__like-thx {
  font-family: FuturaPT, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.rider__likes-meter {
  display: flex;
  flex-direction: column;
  margin-right: 69px;
}

.rider__like-btn {
  min-width: 61px;
  margin-bottom: 6px;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border: 2px solid #000;
  box-sizing: border-box;
}

.rider__like-btn:before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  width: 15px;
  height: 26px;
  vertical-align: bottom;
  background: url(../img/sprite.png) -1314px -5px;
}

.rider__performance {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.rider__education {
  max-width: 495px;
}

.rider__education-info:nth-child(2),
.rider__education-info:nth-child(4) {
  margin-bottom: 22px;
}

.rider__video {
  height: 279px;
  max-width: 500px;
}

.rider__comment {
  display: flex;
  flex-direction: column;
  min-height: 225px;
  padding: 40px 383px 40px 40px;
  margin-bottom: 70px;
  background-image: url(../img/bg_footer.jpg);
  background-size: 138%;
  background-position: 67% 5%;
  box-sizing: border-box;
}

.comment__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 12px;
}

.comment__link:after {
  content: "";
  display: block;
  margin-left: 25px;
  width: 28px;
  height: 16px;
  background-image: url(../img/sprite.png);
  background-position: -1339px -5px;
}

.container--instructors-bottom {
  margin-bottom: 90px;
}


/* --- */


/* фото в круге */

.course__rider-photo {
  display: inline-block;
  position:relative;
  margin: 0;
}

.course__rider-img {
  /* position:absolute; */
  border: 3px solid #a0dcb4;
  border-radius: 50%;
}

.course__img-caption {
  display: inline-block;
  /* position:absolute; */
  /* top:  0px; */
  padding: 10px 0;
  width: 200px;
  /* height: 48px; */
  background-color: #000;
  color: #fff;
  text-align: center;
  vertical-align: top;
}
